.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*/////////// OUR OWN STYLING ///////////////////*/

#root {
  font-size: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 0;
}

.font-3-em {
  font-size: 3em;
  padding-top: .5em;
  margin-bottom: .5em;
} 

.font-2-em {
  font-size: 2em;
} 

.font-1-em {
  font-size: 1em;
} 

.comment {
  border-bottom: solid 1px black;
}

.signup-login-form {
  width: 300px;
  height: 310px;
  padding: 1em;
}

.auth-nav-container {
  margin-right: 1em;
}

.auth-btn {
  color: white;
}

.auth-btn:hover {
  color: black;
  background-color: white;
}

.site-name {
  font-size: 3em;
  color: white;
  margin-left: 1em;
}

.welcome-container {
  display: flex;
  align-items: center;
}

.user-welcome {
  margin: 0 1em;
  color: white;
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

h1, h2, h3, h4, p, summary {
  text-align: center;
}

img {
  width: 500px;
  height: 400px;
}

.image-preview {
  width: 200px;
  height: 200px;
}

.banner-img {
  width: 100%;
  height: 300px;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
}

.center-btn {
  display: block;
  margin: 0 auto;
}

.like-btn:hover {
  background-color: green;
}

.unlike-btn:hover {
  background-color: red;
}

input[type="submit"] {
  display: block;
  margin: 1em auto 0;
  font-size: 1em;
}

input[type="text"] {
  font-size: 1.7em;
}

input[type="url"] {
  font-size: 1em;
}

.edit-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-form {
  width: 450px;
}

.select-box {
  margin-bottom: 1em;
}

#body {
  display: flex;
  justify-content: flex-start;
  width: 97%;
  padding-top: 1em;
}

.our-social-section {
  margin-bottom: 1em;
}

.social-logo {
  width: 50px;
  height: 50px;
  margin: 0 .3em;
}

.our-name {
  font-size: 1em;
  text-align: center;
}

.title {
  font-size: 2.5em;
  margin-bottom: .5em;
}

.social-media-container {
  border: 5px solid black;
  border-radius: 5px;
  padding: 1.5em;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 7px black;
}

.logos-container {
  display: flex;
  justify-content: center;
}

#main {
  width: 50%;
}

.recommendation-container {
  border: 5px solid black;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 7px black;
  padding: 1em;
}

.title-prop {
  font-size: 2em;
}

.img-prop {
  display: block;
  margin: 0 auto;
}

/*/////////////// Side Nav bar (W3 Schools) ////////////////////*/

form {
  padding: 1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightslategray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
  box-shadow: 5px 0 10px black;
  /* padding: 1em; */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.push {
  transition: margin-left 1s;
  padding: 20px;
}

.open-nav {
  cursor: pointer;
  font-size: 2em;
  height: 1.5em;
  margin-right: 5em;
}

.open-nav:hover {
  color: blue;
}

.right-sidenav {
  width: 200px;
  height: 400px;
  position: fixed;
  z-index: 1;
  top: 440px;
  right: 20px;
  background: #eee;
  padding: 1em;
}

/*///////////// MEDIA QUERIES /////////////*/

@media (max-width: 525px) {

  .banner-img {
    height: 150px;
  }

  .site-name {
    font-size: 1.5em;
  }

  .auth-nav-container {
    display: flex;
  }

  .auth-btn {
    font-size: 16px;
    padding: 5px;
    border: none;
  }

  img {
    width: 100%;
    height: 250px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 12px;
  }

  #body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-top: 0;
  }

  .title-prop {
    font-size: 1.4em;
  }

  form {
    padding: 0;
  }

  .title {
    font-size: 1.1em;
  }

  #main {
    width: 90%;
    margin: 0 auto;
  }

  .open-nav {
    margin: 0;
    width: 11%;
  }

  .edit-form {
    width: 310px;
  }

  .right-sidenav {
    width: 100%;
    position: inherit;
    padding: 0;
  }

  .social-media-container {
    padding: 0;
    height: 8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .our-name {
    font-size: 1em;
    text-align: center;
    width: 100%;
  }

  .social-logo {
    width: 35px;
    height: 35px;
    margin: 0 .3em;
  }

}